body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f9f9f9;
}

#root h1 {
  text-align: center;
}

.names-container {
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  border: 2px solid #f4c2c2;
  border-radius: 15px;
  background: linear-gradient(to bottom, #fff, #ffeef0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.name {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #cceeff;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}


.name:nth-child(odd) {
  background-color: #ffd6e0;
}

.male{
  background-color: blue;
  color: white;
}

.female{
  background-color: pink;
  color: red;
}

